/** login.css */
.login-container{
    height: 100vh;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.login-image-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.login-form-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.login-form-container{
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.login-header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.login-header{
    font-size: 32px;
    font-family: Maven Pro;
    font-weight: bold;
    letter-spacing: 0px;
    color: #007683;
}

.login-sub-header{
    text-align: left;
    font-size: 24px;
    line-height: 52px;
    font-family: Maven pro;
    font-weight: normal;
    letter-spacing: 0.56px;
    color: #7FBCC3;
    opacity: 1;
}

.login-form-body{
    padding: 1rem;
}

.login-form-password-container{
    padding-top: 1rem;
}

.login-form-username-container input, .login-form-password-container input{
    width: 100%;
    padding: 12px;
}

.login-form-username-container input, .login-form-password-container input {
    outline: none !important;
}

.login-form-username{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 11px;
    opacity: 1;
    border: none;
}

.login-form-password{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 11px;
    opacity: 1;
    border: none;
}

.login-form-username::placeholder, .login-form-password::placeholder{
    text-align: left;
    font-size: 16px;
    line-height: 46px;
    font-family: Maven pro;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: #767676;
    opacity: 1;
}

.login-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem
}

.login-button{
    background: #089BAB33 0% 0% no-repeat padding-box;
    border-radius: 12px;
    border: none;
    text-align: left;
    font-size: 18px;
    line-height: 1px;
    font-family: Maven Pro;
    font-weight: bold;
    letter-spacing: 0px;
    color: #007683;
    opacity: 1;
    padding: 1.5rem 3rem;
    margin-right: 0.5rem;
}

.login-error-feedback{
    color: rgb(235, 54, 54);
    font-size: 14px;
    margin-bottom: 0rem;
    padding-left: 1rem;
}

.login-success-feedback{
    color: #089BAB;
    font-size: 14px;
    margin-bottom: 0rem;
    padding-left: 1rem;
}

/** Media queries for home starts here */
@media only screen and (max-width:599px){
    .login-container{
        height: 100%;
    }

    .login-image-row{
        margin-top: 0px;
    }

    .login-form-container{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .login-form-row{
        margin-top: 0rem;
    }
}

@media (min-width: 600px) and (max-width:767px){
    .login-form-container{
        width: 70%;
    }

    .login-form-container{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .login-form-row{
        margin-top: 0rem;
    }
}

@media (min-width: 768px) and (max-width:991px){
    .login-form-container{
        width: 60%;
    }
}

@media (min-width: 992px) and (max-width:1199px){
    .login-form-container{
        width: 50%;
    }
}

@media (min-width: 1200px) and (max-width:1699px){
    .login-form-container{
        width: 400px;
    }
}

@media (min-width: 1700px){
    .login-form-container{
        width: 400px;
    }
}

/** Media queries for home starts here */